.c-heading {
    color: var(--color-primary);
    margin: 0;

    &--1 {
        @include font-size(48, 1.1);
        font-weight: 700;
    }
    
    
    &--2 {
        @include font-size(38, 1.2);
        font-weight: 700;
    }
    
    
    &--3 {
        @include font-size(32, 1.3);
        font-weight: 700;
    }


    &--4 {
        @include font-size(28, 1.1);
        font-weight: 700;
    }


    &--5 {
        @include font-size(24, 1.1);
        font-weight: 700;
    }


    &--6 {
        @include font-size(18, 1.1);
        font-weight: 700;
    }
}