.c-link {
    color: var(--color-secondary);
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 3px;
    transition: color var(--transition-fast-out);

    @include hover {
        color: var(--color-tertiary);
    }
}