:root {
    --color-primary: #13304A;
    --color-secondary: #076D59;
    --color-tertiary: #37B971;
    --color-quternary: #E9ECE7;
    --color-danger: #9F0000;
    --color-content: #222;
    --color-black: #000;
    --color-white: #FFF;
}