$size-hd: 1920px;
$size-large-desktop: 1600px;
$size-desktop: 1024px;
$size-tablet: 600px;
$size-laptop: 720px;
$size-phone5: 568px;
$size-min: 320px;

$browser-context: 16px;
$base-font-size: 16px;

$margin: 20px;
$margin-l: 146px;